
@{
    ViewBag.Title = "FinalizarCompra";
}

<h2>Gracias por su compra, esperamos tenerlo nuevamente con nosotros...!!!</h2>
<h3>Se envió un correo con el detalle de su compra al correo asociado a su cuenta.</h3>
@Html.ActionLink("VOLVER A LA TIENDA", "Index2", "Producto")
